.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
body{
  margin: 0;
}
.item1{
  width: 97.5vw
}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'main main main right right right'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 0;
    width: 97.5vw;
}
.item3 {
    width:684px;
}
.item4 {
    width:640px;
}
.program-text {
    font-size:18px;
    width:80%;
}
.program-name {
    font-size:27px;
    width:80%;
}
.program-image-left {
    width:200px;
    height:200px;
    float:left;
    margin-left:20px;
}
.program-image-right {
    float:left;
    margin-left:20px;
    width:200px;
    height:200px;
}
#about {
    font-size:30px;
}
.about {
    font-size:15px;
    margin-left:900px;
}
.grid-container > div {
    background-color: lightblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
#program-title {
    font-size:27px;
    float:left;
    margin-left:10px;
}
#title {
    font-size:30px;
    margin-right:890px;
}
.logo {
    width:200px;
    float:left;
    margin-left:50px;
}
.search {
    margin-left:10px;
    float:left;
    width:240px;
    height:40px;
    font-size:20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.item5{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
